<?xml version="1.0"?>
<launch>

    <arg name="namespace" default="robofit" />
    <arg name="image_topic" default="video_feedback" />
    <arg name="feedback_topic" default="/feedback" />
    <arg name="exercise_topic" default="/exercise" />
    <arg name="camera_id" default="0" />

    <!--node name="image_viewer" pkg="image_view" type="image_view" ns="$(arg namespace)" >
        <remap from="image"           to="$(arg image_topic)" />
        <param name="autosize"      value="True" />
    </node-->

    <node name="video_feedback" pkg="robofit" type="video_streamer" ns="$(arg namespace)" output="screen" > <!-- launch-prefix="xterm -e gdb -args" -->
        <param name="camera_id" value="$(arg camera_id)" />
        <param name="camera_image"           value="$(arg image_topic)" />
        <param name="feedback_topic"           value="$(arg feedback_topic)" />
        <param name="exercise_topic"           value="$(arg exercise_topic)" />
    </node>

</launch>
